.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 21px;
}

.main {
  max-width: 700px;
  width: 100%;
  padding: 21px;
  gap: 21px;
}

.askJournal {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.response {
  margin-bottom: 21px;
  border-radius: 7px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.questionField {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
}

.submitButton {
  padding: 10px;
  border: none;
  border-radius: 7px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}